.about {
    margin-top: 1vh;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

#wrapper{
    width: 60%;
    
}
@media only screen and (max-width:600px) {
    #wrapper {
        width: 90%;
    }
}

#about-text {
    opacity: 0.9;
    text-align: justify;
    font-size: 3vh;
    padding: 8px;
    /* margin-bottom: 70vh; */
    line-height: 1.4;
    /* background-color: rgb(247, 247, 247); */
    color: rgb(0, 0, 0);
}

.bandpicture {
    margin-top: 1vh;
    width: 100%;
}

/* @media only screen and (max-width: 600px) {
    .bandpicture {
        display: none;
    }
  } */

@media only screen and (max-width: 600px) {
    #about-text {
        font-size: 20px;
        text-align: justify;
        background-color: none;
        opacity: 1;
        padding: 10px;
        line-height: 1.4;
    }
  }